<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<h1>Create Account</h1>
    <h3>Type in your info</h3>
        <p>First Name <input type = "text" name = "fname"></p>
        <p>Last Name <input type = "text" name = "lname" /></p>
        <p>Username <input type = "text" name = "uname" /></p>
        <p>Email <input type = "text" name = "email" /></p>
        <p>Password <input type = "text" name = "pword" /></p>
        <p>Confirm Password <input type = "text" name = "cpword" /></p>
    <input type="password">
    <a href=../profile><button>Login</button></a>
{% endblock content %}