<!doctype html>
<html>
<title>Shoping Cart</title>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  {% if title %}
        <title>{{ title }} - Precious</title>
        {% else %}
        <title>Precious</title>
  {% endif %}
  </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ url_for('precious') }}">Precious</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('phot') }}">Precious Photography</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('me') }}">Precious Me</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('designs') }}">Precious Designs</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('shopping') }}">Shopping</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('upload_cart') }}">Shopping Cart</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('uco') }}">Checkout</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('upload_form') }}">Upload</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </nav>
<body>
    <p> This is your shopping cart</p>
    <div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</div>

	<div id="shopping-cart">
		<div class="txt-heading">Shopping Cart</div>		
		{% if 'cart_item' in session %}
			<a id="btnEmpty" href="{{ url_for('.empty_cart') }}">Empty Cart</a>
			<table class="tbl-cart" cellpadding="10" cellspacing="1">
			<tbody>
				<tr>
					<th style="text-align:left;">Name</th>
					<th style="text-align:left;">Code</th>
					<th style="text-align:right;" width="5%">Quantity</th>
					<th style="text-align:right;" width="10%">Unit Price</th>
					<th style="text-align:right;" width="10%">Price</th>
					<th style="text-align:center;" width="5%">Remove</th>
				</tr>
				{% for key, val in session['cart_item'].items() %}
					{% set quantity = session['cart_item'][key]['quantity'] %}
					{% set price = session['cart_item'][key]['price'] %}
					{% set item_price = session['cart_item'][key]['total_price'] %}					
					<tr>
						<td><img src="/static/images/{{ session['cart_item'][key]['image'] }}" class="cart-item-image" />{{ session['cart_item'][key]['name'] }}</td>
						<td>{{ session['cart_item'][key]['code'] }}</td>
						<td style="text-align:right;">{{ quantity }}</td>
						<td  style="text-align:right;">₹ {{ price }}</td>
						<td  style="text-align:right;">₹ {{ item_price }}</td>
						<td style="text-align:center;">
							<a href="{{ url_for('.delete_product', code=session['cart_item'][key]['code']) }}" class="btnRemoveAction">
								<img src="/static/images/icon-delete.png" alt="Remove Item" />
							</a>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td colspan="2" align="right">Total:</td>
					<td align="right">{{ session['all_total_quantity'] }}</td>
					<td align="right" colspan="2"><strong>₹ {{ session['all_total_price'] }}</strong></td>
					<td></td>
				</tr>
			</tbody>
			</table>
		{% else: %}
			<div class="no-records">Your Cart is Empty</div>
		{% endif %}
	</div>

	<div id="product-grid">
		<div class="txt-heading">Products</div>

		{% for product in products %}

			<div class="product-item">
				<form method="post" action="/add">
					<div class="product-image"><img src="/static/images/{{ product.image }}"></div>
					<div class="product-tile-footer">
						<div class="product-title">{{ product.name }}</div>
						<div class="product-price">₹ {{ product.price }}</div>
						<div class="cart-action">
							<input type="hidden" name="code" value="{{ product.code }}"/>
							<input type="text" class="product-quantity" name="quantity" value="1" size="2" />
							<input type="submit" value="Add to Cart" class="btnAddAction" />
						</div>
					</div>
				</form>
			</div>

		{% endfor %}
	
	</div>
<div id="content" class="container">
</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
